<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @gift.description %>
</p>
<% if gift.user == current_user %>
<%= link_to 'Edit', edit_gift_path(@gift) %> |
<% end %>
<%= link_to 'Back', gifts_path %>

