<div class="jumbotron center">
	<h1>Hey Nerd. Welcome.</h1>
<% if user_signed_in? %>
	Start making your wish list by saving your stuff to this page!
<% else %>

	<p>
		<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
	<%= link_to "Sign In", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	
	</p>
	<% end %>
</div>

